In [317]:
import pandas as pd
import mysql.connector

Es el momento de meter todos nuestros datos en SQL 💪🏽!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendrá la información que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendrá la información obtenida en el ejercicio de pair de ETL 1.
- 📌 Nota Todo lo tendremos que hacer desde jupyter notebook
- Cread la BBDD con el nombre de tiburones.
- Cread las tablas de la BBDD:
- Tabla ataques
- Tabla clima
- BONUS Insertar los datos en las tablas.
📌 Nota Esta parte del pair es optativa y no será considerada para la evaluación
🚨 En caso de que no tengáis los datos unidos de la sesión anterior, tenéis un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

In [318]:
df = pd.read_csv("datos/datos_union_clima_ataques.csv", index_col=0)

In [319]:
pd.set_option('display.max_columns', None)

In [320]:
df.isnull().sum()

case_number           1
year                  0
type                  1
country               0
area                 32
                     ..
msl_pressure          0
prec_amount           0
snow_depth            0
wind10m.direction     0
wind10m.speed         0
Length: 62, dtype: int64

In [321]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [322]:
def crear_bbdd(nombre_bbdd):
    mydb = mysql.connector.connect(
                                    host= "localhost", 
                                    user= "root",
                                    password= "AlumnaAdalab")

    print("conexion realizada con éxito")

    mycursor = mydb.cursor()
    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)

    except mysql.connector.Error as err:

        print(err)
        print("error code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [323]:
mybase = crear_bbdd("tiburones")

conexion realizada con éxito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [324]:
def crear_insertar_tabla(nombre_bbdd, contraseña, query):

    cnx = mysql.connector.connect(user= "root", password= f"{contraseña}", host= "127.0.0.1", database = f"{nombre_bbdd}" )

    mycursor = cnx.cursor()

    try:
        mycursor.execute(query)
        cnx.commit()

    except mysql.connector.Error as err:

        print(err)
        print("error code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [325]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'injury', 'fecha_limpia',
       'fatal', 'sex', 'pais', 'rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb',
       'rh_750mb', 'rh_700mb', 'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb',
       'rh_450mb', 'rh_400mb', 'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb',
       'wind_950mb', 'wind_900mb', 'wind_850mb', 'wind_800mb', 'wind_750mb',
       'wind_700mb', 'wind_650mb', 'wind_600mb', 'wind_550mb', 'wind_500mb',
       'wind_450mb', 'wind_400mb', 'wind_350mb', 'wind_300mb', 'wind_250mb',
       'wind_200mb', 'index', 'timepoint', 'cloudcover', 'highcloud',
       'midcloud', 'lowcloud', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_amount', 'snow_depth', 'wind10m.direction',
       'wind10m.speed'],
      dtype='object')

In [326]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4395 entries, 0 to 4394
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   case_number        4394 non-null   object
 1   year               4395 non-null   float64
 2   type               4394 non-null   object
 3   country            4395 non-null   object
 4   area               4363 non-null   object
 5   location           4276 non-null   object
 6   activity           4066 non-null   object
 7   name               4325 non-null   object
 8   age                2681 non-null   object
 9   time               2395 non-null   object
 10  species_           2647 non-null   object
 11  injury             4381 non-null   object
 12  fecha_limpia       4148 non-null   object
 13  fatal              3975 non-null   object
 14  sex                4059 non-null   object
 15  pais               4395 non-null   object
 16  rh_950mb           4395 non-null   float64
 17  rh_900mb           4395 non-null   float64
 18  rh_850mb           4395 non-null   float64
 19  rh_800mb           4395 non-null   float64
 20  rh_750mb           4395 non-null   float64
 21  rh_700mb           4395 non-null   float64
 22  rh_650mb           4395 non-null   float64
 23  rh_600mb           4395 non-null   float64
 24  rh_550mb           4395 non-null   float64
 25  rh_500mb           4395 non-null   float64
 26  rh_450mb           4395 non-null   float64
 27  rh_400mb           4395 non-null   float64
 28  rh_350mb           4395 non-null   float64
 29  rh_300mb           4395 non-null   float64
 30  rh_250mb           4395 non-null   float64
 31  rh_200mb           4395 non-null   float64
 32  wind_950mb         4395 non-null   float64
 33  wind_900mb         4395 non-null   float64
 34  wind_850mb         4395 non-null   float64
 35  wind_800mb         4395 non-null   float64
 36  wind_750mb         4395 non-null   float64
 37  wind_700mb         4395 non-null   float64
 38  wind_650mb         4395 non-null   float64
 39  wind_600mb         4395 non-null   float64
 40  wind_550mb         4395 non-null   float64
 41  wind_500mb         4395 non-null   float64
 42  wind_450mb         4395 non-null   float64
 43  wind_400mb         4395 non-null   float64
 44  wind_350mb         4395 non-null   float64
 45  wind_300mb         4395 non-null   float64
 46  wind_250mb         4395 non-null   float64
 47  wind_200mb         4395 non-null   float64
 48  index              4395 non-null   float64
 49  timepoint          4395 non-null   float64
 50  cloudcover         4395 non-null   float64
 51  highcloud          4395 non-null   float64
 52  midcloud           4395 non-null   float64
 53  lowcloud           4395 non-null   float64
 54  temp2m             4395 non-null   float64
 55  lifted_index       4395 non-null   float64
 56  rh2m               4395 non-null   float64
 57  msl_pressure       4395 non-null   float64
 58  prec_amount        4395 non-null   float64
 59  snow_depth         4395 non-null   float64
 60  wind10m.direction  4395 non-null   float64
 61  wind10m.speed      4395 non-null   float64
dtypes: float64(47), object(15)
memory usage: 2.1+ MB

Teníamos en mente que case_number fuera nuestra Primary Key, pero como tiene un nulo, aunque nuestro primer instinto fue eliminar el nulo, creemos que es mala práctica y vamos a crear otra Primary Key.

In [327]:
tabla_ataques = """
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  `index_ataques` INT NOT NULL AUTO_INCREMENT,
  `case_number` VARCHAR(45),
  `year` INT,
  `type` VARCHAR(200),
  `country` VARCHAR(45),
  `area` VARCHAR(200),
  `location` VARCHAR(200),
  `activity` VARCHAR(2000),
  `name` VARCHAR(200),
  `age` INT,
  `time` VARCHAR(20),
  `species_` VARCHAR(45),
  `injury` VARCHAR(2000),
  `fecha_limpia` VARCHAR(3),
  `fatal` VARCHAR(10),
  `sex` VARCHAR(10),
  `pais` VARCHAR(45),

  PRIMARY KEY (`index_ataques`));

"""

In [328]:
tabla_ataques = crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_ataques)

tabla_ataques = crear_tabla("tiburones", "AlumnaAdalab", query_tabla_tiburones)

In [329]:
query_tabla_clima = """
                            CREATE TABLE IF NOT EXISTS clima ( `index_clima` INT NOT NULL AUTO_INCREMENT,
                                                                `pais` VARCHAR(40),
                                                                `rh_950mb` FLOAT NOT NULL,
                                                                `rh_900mb` FLOAT NOT NULL,
                                                                `rh_850mb` FLOAT NOT NULL,
                                                                `rh_800mb` FLOAT NOT NULL,
                                                                `rh_750mb` FLOAT NOT NULL,
                                                                `rh_700mb` FLOAT NOT NULL,
                                                                `rh_650mb` FLOAT NOT NULL,
                                                                `rh_600mb` FLOAT NOT NULL,
                                                                `rh_550mb` FLOAT NOT NULL,
                                                                `rh_500mb` FLOAT NOT NULL,
                                                                `rh_450mb` FLOAT NOT NULL,
                                                                `rh_400mb` FLOAT NOT NULL,
                                                                `rh_350mb` FLOAT NOT NULL,
                                                                `rh_300mb` FLOAT NOT NULL,
                                                                `rh_250mb` FLOAT NOT NULL,
                                                                `rh_200mb` FLOAT NOT NULL,
                                                                `wind_950mb` FLOAT NOT NULL,
                                                                `wind_900mb` FLOAT NOT NULL,
                                                                `wind_850mb` FLOAT NOT NULL,
                                                                `wind_800mb` FLOAT NOT NULL,
                                                                `wind_750mb` FLOAT NOT NULL,
                                                                `wind_700mb` FLOAT NOT NULL,
                                                                `wind_650mb` FLOAT NOT NULL,
                                                                `wind_600mb` FLOAT NOT NULL,
                                                                `wind_550mb` FLOAT NOT NULL,
                                                                `wind_500mb` FLOAT NOT NULL,
                                                                `wind_450mb` FLOAT NOT NULL,
                                                                `wind_400mb` FLOAT NOT NULL,
                                                                `wind_350mb` FLOAT NOT NULL,
                                                                `wind_300mb` FLOAT NOT NULL,
                                                                `wind_250mb` FLOAT NOT NULL,
                                                                `wind_200mb` FLOAT NOT NULL,
                                                                `index` FLOAT NOT NULL,
                                                                `timepoint` FLOAT NOT NULL,
                                                                `cloudcover` FLOAT NOT NULL,
                                                                `highcloud` FLOAT NOT NULL,
                                                                `midcloud` FLOAT NOT NULL,
                                                                `lowcloud` FLOAT NOT NULL,
                                                                `temp2m` FLOAT NOT NULL,
                                                                `lifted_index` FLOAT NOT NULL,
                                                                `rh2m` FLOAT NOT NULL,
                                                                `msl_pressure` FLOAT NOT NULL,
                                                                `prec_amount` FLOAT NOT NULL,
                                                                `snow_depth` FLOAT NOT NULL,
                                                                `wind10m.direction` FLOAT NOT NULL,
                                                                `wind10m.speed` FLOAT NOT NULL,

                                                                PRIMARY KEY (`index_clima`));"""

In [330]:
tabla_clima = crear_insertar_tabla("tiburones", "AlumnaAdalab", query_tabla_clima)

In [331]:
for indice, valor in df.iterrows():
    query_datos_ataques = f"""INSERT INTO ataques (case_number, year, type, country, area, location,
       activity, name, age, time, species_, injury, fecha_limpia,
       fatal, sex, pais)
                            VALUES ({valor['case_number']}, {valor['year']}, {valor['type']},
                            {valor['country']}, {valor['area']}, {valor['location']}, {valor['activity']},
                            {valor['name']}, {valor['age']}, {valor['time']}, {valor['species_']}, {valor['injury']},
                            {valor['fecha_limpia']}, {valor['fatal']}, {valor['sex']}, {valor['pais']})"""

    crear_insertar_tabla("tiburones", "AlumnaAdalab", query_datos_ataques)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.25, 2018.0, Boating,
                            USA, California, Oceanside, Sa' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.25, 2018.0, Boating,
                            USA, California, Oceanside, Sa' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.18, 2018.0, Unprovoked,
                            USA, Georgia, St. Simon Isl' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.18, 2018.0, Unprovoked,
                            USA, Georgia, St. Simon Isl' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.09, 2018.0, Invalid,
                            USA, Hawaii, Habush, Oahu, Sur' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.09, 2018.0, Invalid,
                            USA, Hawaii, Habush, Oahu, Sur' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.27, 2018.0, Unprovoked,
                            USA, Florida, Lighhouse Poi' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.27, 2018.0, Unprovoked,
                            USA, Florida, Lighhouse Poi' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.26.b, 2018.0, Unprovoked,
                            USA, Florida, Cocoa Beach' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.26.b, 2018.0, Unprovoked,
                            USA, Florida, Cocoa Beach' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.26.a, 2018.0, Unprovoked,
                            USA, Florida, Daytona Bea' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.26.a, 2018.0, Unprovoked,
                            USA, Florida, Daytona Bea' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.21, 2018.0, Unprovoked,
                            USA, South Carolina, Isle o' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.21, 2018.0, Unprovoked,
                            USA, South Carolina, Isle o' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.13.b, 2018.0, Unprovoked,
                            USA, South Carolina, Hilt' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.13.b, 2018.0, Unprovoked,
                            USA, South Carolina, Hilt' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.19, 2018.0, Unprovoked,
                            USA, Hawaii, ShipwreckÂs' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.19, 2018.0, Unprovoked,
                            USA, Hawaii, ShipwreckÂs' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.31, 2018.0, Unprovoked,
                            USA, Hawaii, Kukio Beach, S' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.31, 2018.0, Unprovoked,
                            USA, Hawaii, Kukio Beach, S' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.31, 2017.0, Unprovoked,
                            USA, Hawaii, Hultin's Beach' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.31, 2017.0, Unprovoked,
                            USA, Hawaii, Hultin's Beach' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.30, 2017.0, Unprovoked,
                            USA, California, Drakes Est' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.30, 2017.0, Unprovoked,
                            USA, California, Drakes Est' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.24, 2017.0, Unprovoked,
                            USA, California, Stillwater' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.24, 2017.0, Unprovoked,
                            USA, California, Stillwater' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.18, 2017.0, Unprovoked,
                            USA, Florida, Floridana Bea' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.18, 2017.0, Unprovoked,
                            USA, Florida, Floridana Bea' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.26, 2017.0, Unprovoked,
                            USA, Hawaii, White Plains B' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.26, 2017.0, Unprovoked,
                            USA, Hawaii, White Plains B' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23.b, 2017.0, Unprovoked,
                            USA, Florida, Juno Beach,' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23.b, 2017.0, Unprovoked,
                            USA, Florida, Juno Beach,' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23.a, 2017.0, Unprovoked,
                            USA, Florida, Ocean Reef ' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23.a, 2017.0, Unprovoked,
                            USA, Florida, Ocean Reef ' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.18, 2017.0, Unprovoked,
                            USA, Florida, Lantana Beach' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.18, 2017.0, Unprovoked,
                            USA, Florida, Lantana Beach' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.09, 2017.0, Unprovoked,
                            USA, Hawaii, Davidsons Beac' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.09, 2017.0, Unprovoked,
                            USA, Hawaii, Davidsons Beac' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.05, 2017.0, Unprovoked,
                            USA, Hawaii, KamaÂole Be' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.05, 2017.0, Unprovoked,
                            USA, Hawaii, KamaÂole Be' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.25.b, 2017.0, Unprovoked,
                            USA, Florida, Hanna Park,' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.25.b, 2017.0, Unprovoked,
                            USA, Florida, Hanna Park,' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.24.b, 2017.0, Invalid,
                            USA, New York, Rockaway, Sur' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.24.b, 2017.0, Invalid,
                            USA, New York, Rockaway, Sur' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.24.a, 2017.0, Unprovoked,
                            USA, Florida, Fort Worth,' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.24.a, 2017.0, Unprovoked,
                            USA, Florida, Fort Worth,' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.20, 2017.0, Unprovoked,
                            USA, Florida, Palm Beach Co' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.20, 2017.0, Unprovoked,
                            USA, Florida, Palm Beach Co' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.16.a, 2017.0, Unprovoked,
                            USA, Florida, Ponce Inlet' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.16.a, 2017.0, Unprovoked,
                            USA, Florida, Ponce Inlet' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.13, 2017.0, Unprovoked,
                            USA, Florida, Ponce Inlet, ' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.13, 2017.0, Unprovoked,
                            USA, Florida, Ponce Inlet, ' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.02.c, 2017.0, Unprovoked,
                            USA, Florida, Marathon, M' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.02.c, 2017.0, Unprovoked,
                            USA, Florida, Marathon, M' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.02.b, 2017.0, Unprovoked,
                            USA, Texas, South Padre I' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.02.b, 2017.0, Unprovoked,
                            USA, Texas, South Padre I' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.02.a, 2017.0, Unprovoked,
                            USA, Florida, New Smyrna ' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.02.a, 2017.0, Unprovoked,
                            USA, Florida, New Smyrna ' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.27, 2017.0, Unprovoked,
                            USA, Florida, Bathtub Beach' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.27, 2017.0, Unprovoked,
                            USA, Florida, Bathtub Beach' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23, 2017.0, Unprovoked,
                            USA, Massachusetts, Marconi' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23, 2017.0, Unprovoked,
                            USA, Massachusetts, Marconi' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.10, 2017.0, Unprovoked,
                            USA, South Carolina, Sea Pi' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.10, 2017.0, Unprovoked,
                            USA, South Carolina, Sea Pi' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.03, 2017.0, Provoked,
                            USA, Massachusetts, Menauhant' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.03, 2017.0, Provoked,
                            USA, Massachusetts, Menauhant' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.01, 2017.0, Boating,
                            USA, California, Between Pesca' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.01, 2017.0, Boating,
                            USA, California, Between Pesca' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.31, 2017.0, Unprovoked,
                            USA, Florida, Jacksonvlle, ' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.31, 2017.0, Unprovoked,
                            USA, Florida, Jacksonvlle, ' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.29.c, 2017.0, Invalid,
                            USA, South Carolina, Hilton ' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.29.c, 2017.0, Invalid,
                            USA, South Carolina, Hilton ' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.29.a, 2017.0, Unprovoked,
                            USA, South Carolina, DeBo' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.29.a, 2017.0, Unprovoked,
                            USA, South Carolina, DeBo' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23.b, 2017.0, Unprovoked,
                            USA, New Jersey, Ventnor,' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.23.b, 2017.0, Unprovoked,
                            USA, New Jersey, Ventnor,' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.22, 2017.0, Unprovoked,
                            USA, Florida, Snipes Point,' at line 4
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.22, 2017.0, Unprovoked,
                            USA, Florida, Snipes Point,' at line 4
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '.20.c, 2017.0, Invalid,

KeyboardInterrupt: